.root {
    -fx-background-color: #161518;
}
.left-background {
    -fx-background-color: #1D1C20;
}
.main-title {
    -fx-font-size: 28;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.small-title {
    -fx-font-size: 15;
    -fx-text-fill: #CCCCCC;
    -fx-alignment: center;
}
.avatar-button-default {
    -fx-background-image: url("elements/avatarDefault.png");
    -fx-background-radius: 35;
}
.name-label {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.email-label-default {
    -fx-font-size: 11;
    -fx-text-fill: #868686;
}
.email-label-invisible {
    -fx-text-fill: transparent;
}

.settings-button {
    -fx-background-color: #1D1C20;
    -fx-background-radius: 5;
}
.settings-button:hover {
    -fx-background-color: #2C2B30;
}
.settings-button:pressed {
    -fx-background-color: #393740;
}

.settings-label-default {
    -fx-background-image: url("elements/settingsDefault.png");
}
.settings-label-hovered {
    -fx-background-image: url("elements/settingsFocused.png");
}

.chats-title-label {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.search-field {
    -fx-background-color: #2C2B30;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-size: 11;
    -fx-padding: 0 25 0 10;
    -fx-border-color: transparent transparent #B0B0B0 transparent;

    -fx-text-fill: white;
    -fx-prompt-text-fill: #B0B0B0;
}
.search-field:focused {
    -fx-background-color: #212026;
    -fx-border-color: transparent transparent white transparent;
}

.search-field-lupe-default {
    -fx-background-image: url("elements/searchingLupeDefault.png");
    -fx-background-repeat: no-repeat;
}
.search-field-lupe-focused {
    -fx-background-image: url("elements/searchingLupeFocused.png");
    -fx-background-repeat: no-repeat;
}

.add-contact-button {
    -fx-background-color: #2C2B30;
    -fx-background-radius: 5;
}
.add-contact-button:hover {
    -fx-background-color: #393740;
}
.add-contact-button:pressed {
    -fx-background-color: #26242A;
}
.add-contact-label {
    -fx-font-size: 23;
    -fx-text-fill: white;
}