/*-----------------------------------------------------------------------------*/
/* Chat Background */
.root {
    -fx-background-color: #161518;
}
/*-----------------------------------------------------------------------------*/
/* Chat Upper Background */
.chat-upper-background {
    -fx-background-color: #1D1C20;
}
/*-----------------------------------------------------------------------------*/
/* Chat Scroll Pane */
.chat-scroll-pane{
    -fx-background-color: transparent;
}
.chat-scroll-pane .viewport{
    -fx-background-color: transparent;
}
.chat-scroll-pane .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
}
.chat-scroll-pane .scroll-bar .thumb {
    -fx-background-color: #55535C;
}
.chat-scroll-pane .scroll-bar .increment-button,
.chat-scroll-pane .scroll-bar .decrement-button {
    -fx-opacity: 0;
}
/*-----------------------------------------------------------------------------*/
/* Avatar Default Label */
.chat-avatar-label {
    -fx-background-image: url("../elements/chatAvatarDefault.png");
    -fx-background-repeat: no-repeat;
}
/*-----------------------------------------------------------------------------*/
/* Name Label */
.chat-name-label {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
/*-----------------------------------------------------------------------------*/
/* Text Field */
.chat-text-field {
    -fx-background-color: #1D1C20;
    -fx-border-color: #1D1C20;
    -fx-font-size: 16;
    -fx-prompt-text-fill: #5A5959;
    -fx-text-fill: white;
    -fx-padding: 4 55 5 64;
}
/*-----------------------------------------------------------------------------*/
/* Add Picture Button */
.chat-add-file-label {
    -fx-background-image: url("../elements/addPictureDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-add-file-label:hover {
    -fx-background-image: url("../elements/addPictureHovered.png");

}
/*-----------------------------------------------------------------------------*/
/* Send Message Button */
.chat-send-message-label {
    -fx-background-image: url("../elements/sendMessageDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-send-message-label:hover {
    -fx-background-image: url("../elements/sendMessageHovered.png");
    -fx-background-repeat: no-repeat;
}
/*-----------------------------------------------------------------------------*/
/* Search for a message Button */
.chat-search-lupe {
    -fx-background-image: url("../elements/searchLupeDefault.png");
}
.chat-search-lupe:hover {
    -fx-background-image: url("../elements/searchLupeHovered.png");
}
/*-----------------------------------------------------------------------------*/
/* Date Label */
.chat-date-label {
    -fx-background-color: #2F2C39;
    -fx-background-radius: 12;
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 3 15 3 15;
}
/*-----------------------------------------------------------------------------*/
/* Message */
.chat-message-user-stackpane {
    -fx-background-color: #2C2B30;
    -fx-background-radius: 11;
}
.chat-message-contact-stackpane {
    -fx-background-color: #1D1C20;
    -fx-background-radius: 11;
}
.chat-message-text-label {
    -fx-text-fill: #DBDBDB;
    -fx-font-size: 15;
}
.chat-time-label {
    -fx-font-size: 11;
    -fx-text-fill: #85818F;
}
.chat-message-default-avatar {
    -fx-background-image: url("../elements/chatMessageAvatarDefault.png");
    -fx-background-repeat: no-repeat;
}
/* Message Buttons */
.chat-message-buttons-background {
    -fx-background-color: #211F26;
    -fx-background-radius: 5;
}
.chat-message-buttons-small-pane {
    -fx-background-color: #211F26;
    -fx-background-radius: 3;
}
.chat-message-buttons-small-pane:hover {
    -fx-background-color: #323036;
}
.chat-message-buttons-text {
    -fx-font-size: 13;
    -fx-text-fill: white;
}
.chat-message-buttons-reply-symbol {
    -fx-background-image: url("../elements/messageReplySymbol.png");
    -fx-background-repeat: no-repeat;
}
.chat-message-buttons-edit-symbol {
    -fx-background-image: url("../elements/messageEditSymbol.png");
    -fx-background-repeat: no-repeat;
}
.chat-message-buttons-delete-symbol {
    -fx-background-image: url("../elements/messageDeleteSymbol.png");
    -fx-background-repeat: no-repeat;
}
/* Reply Message */
.chat-message-user-reply-pane {
    -fx-background-color: #3C3B43;
    -fx-background-radius: 5;
}
.chat-message-contact-reply-pane {
    -fx-background-color: #2C2B30;
    -fx-background-radius: 5;
}
.chat-message-reply-name {
    -fx-font-size: 11;
    -fx-text-fill: white;
}
.chat-message-user-reply-message {
    -fx-font-size: 11;
    -fx-text-fill: #9B9AA3;
}
.chat-message-contact-reply-message {
    -fx-font-size: 11;
    -fx-text-fill: #7E7D82;
}
.chat-message-user-deleted-message {
    -fx-font-siez: 12;
    -fx-text-fill: #9B9AA3;
}
.chat-message-contact-deleted-message {
    -fx-font-size: 12;
    -fx-text-fill: #7E7D82;
}
/* Picture Time Label */
.chat-picture-message-time-label {
    -fx-background-color: rgba(30,30,33,86);
    -fx-background-radius: 6;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-padding: 2 6 2 6;
}
/*-----------------------------------------------------------------------------*/
/* Scroll Down Button */
.chat-scroll-down-button {
    -fx-background-image: url("../elements/scrollDownButtonDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-scroll-down-button:hover {
    -fx-background-image: url("../elements/scrollDownButtonHovered.png");
    -fx-background-repeat: no-repeat;
}
/*-----------------------------------------------------------------------------*/
/* Wrapper */
.chat-wrapper-name {
    -fx-font-size: 18;
    -fx-text-fill: #95B1E8;
}
.chat-wrapper-message {
    -fx-font-size: 14;
    -fx-text-fill: #CBCBCB;
}
.chat-wrapper-message:hover {
    -fx-text-fill: white;
}
.chat-wrapper-photo-symbol {
    -fx-background-image: url("../elements/replyWrapperPhotoSymbol.png");
    -fx-background-repeat: no-repeat;
}
.chat-wrapper-photo-symbol-hovered {
    -fx-background-image: url("../elements/replyWrapperPhotoSymbolHovered.png");
    -fx-background-repeat: no-repeat;
}
.chat-wrapper-photo-title {
    -fx-font-size: 14;
    -fx-text-fill: #858585;
}
.chat-wrapper-photo-title-hovered {
    -fx-font-size: 14;
    -fx-text-fill: #D0D0D0;
}
.chat-wrapper-exit {
    -fx-background-image: url("../elements/wrapperExitDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-wrapper-exit:hover {
    -fx-background-image: url("../elements/wrapperExitFocused.png");
    -fx-background-repeat: no-repeat;
}
.chat-wrapper-background {
    -fx-background-color: #1D1C20;
}
/* Reply Wrapper */
.chat-reply-wrapper-symbol {
    -fx-background-image: url("../elements/replyWrapperSymbol.png");
    -fx-background-repeat: no-repeat;
}
/* Edit Wrapper */
.chat-edit-wrapper-symbol {
    -fx-background-image: url("../elements/editWrapperSymbol.png");
    -fx-background-repeat: no-repeat;
}
/* Delete Contact Confirmation Window */
.contact-delete-confirmation-window-background {
    -fx-background-color: #161518;
    -fx-background-radius: 15;
}
.contact-delete-confirmation-window-text {
    -fx-font-size: 22;
    -fx-text-fill: white;
}
.contact-delete-confirmation-window-delete-button {
    -fx-background-image: url("../elements/confirmationDeleteButtonDefault.png");
    -fx-background-repeat: no-repeat;
}
.contact-delete-confirmation-window-delete-button:hover {
    -fx-background-image: url("../elements/confirmationDeleteButtonHovered.png");
    -fx-background-repeat: no-repeat;
}
.contact-delete-confirmation-window-delete-button:pressed {
    -fx-background-image: url("../elements/confirmationDeleteButtonFocused.png");
    -fx-background-repeat: no-repeat;
}
.contact-delete-confirmation-window-cancel-button {
    -fx-background-image: url("../elements/confirmationCancelButtonDefault.png");
    -fx-background-repeat: no-repeat;
}
.contact-delete-confirmation-window-cancel-button:hover {
    -fx-background-image: url("../elements/confirmationCancelButtonHovered.png");
    -fx-background-repeat: no-repeat;
}





