/*-----------------------------------------------------------------------------*/
/* background */
.contact-background-pane {
    -fx-background-color: #1D1C20;
    -fx-background-radius: 8;
}
.contact-background-pane:hover {
    -fx-background-color: #262529;
}
.contact-background-pane:pressed {
    -fx-background-color: #3A3941;
}
.contact-background-pane-focused {
    -fx-background-color: #3A3941;
    -fx-background-radius: 8;
}
.contact-background-pane-hovered {
    -fx-background-color: #262529;
    -fx-background-radius: 8;
}
/*-----------------------------------------------------------------------------*/
/* avatar */
.contact-avatar-label {
    -fx-background-image: url("../elements/mainContactAvatar.png");
}
/*-----------------------------------------------------------------------------*/
/* name */
.contact-name-label {
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
/*-----------------------------------------------------------------------------*/
/* last message */
.contact-last-message-label {
    -fx-font-size: 14;
    -fx-text-fill: #8A8A8A;
}
/*-----------------------------------------------------------------------------*/
/* time */
.contact-time-label {
    -fx-font-size: 12;
    -fx-text-fill: #8A8A8A;
}
/*-----------------------------------------------------------------------------*/
/* Delete Contact Button */
.contact-delete-button-background {
    -fx-background-color: #211F26;
    -fx-background-radius: 5;
}
.contact-delete-button-small-pane {
    -fx-background-color: #211F26;
    -fx-background-radius: 3;
}
.contact-delete-button-small-pane:hover {
    -fx-background-color: #323036;
}
.contact-delete-button-symbol {
    -fx-background-image: url("../elements/messageDeleteSymbol.png");
    -fx-background-repeat: no-repeat;
}
.contact-delete-button-text {
    -fx-font-size: 13;
    -fx-text-fill: white;
}
/* Delete Contact Confirmation Window */
.contact-delete-confirmation-window-background {
    -fx-background-color: #161518;
    -fx-background-radius: 15;
}
.contact-delete-confirmation-window-text {
    -fx-font-size: 22;
    -fx-text-fill: white;
}
.contact-delete-confirmation-window-delete-button {
    -fx-background-image: url("../elements/confirmationDeleteButtonDefault.png");
    -fx-background-repeat: no-repeat;
}
.contact-delete-confirmation-window-delete-button:hover {
    -fx-background-image: url("../elements/confirmationDeleteButtonHovered.png");
    -fx-background-repeat: no-repeat;
}
.contact-delete-confirmation-window-delete-button:pressed {
    -fx-background-image: url("../elements/confirmationDeleteButtonFocused.png");
    -fx-background-repeat: no-repeat;
}
.contact-delete-confirmation-window-cancel-button {
    -fx-background-image: url("../elements/confirmationCancelButtonDefault.png");
    -fx-background-repeat: no-repeat;
}
.contact-delete-confirmation-window-cancel-button:hover {
    -fx-background-image: url("../elements/confirmationCancelButtonHovered.png");
    -fx-background-repeat: no-repeat;
}
/* New Message Counter */
.contact-new-message-counter-label {
    -fx-text-fill: white;
    -fx-font-size: 11;
    -fx-background-color: #323136;
    -fx-background-radius: 100;
    -fx-padding: 5 10 5 10;
}
.contact-new-message-counter-overflow-label {
    -fx-text-fill: white;
    -fx-font-size: 11;
    -fx-background-color: #323136;
    -fx-background-radius: 100;
    -fx-padding: 5 6 5 6;
}
