.settings-window {
    -fx-background-color: #161518;
    -fx-background-radius: 14;
}
.settings-title {
    -fx-font-size: 21;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.settings-avatar-default {
    -fx-background-image: url("../elements/avatarDefaultSettings.png");
    -fx-background-color: transparent;
}
.settings-identifier-label {
    -fx-font-size: 12;
    -fx-text-fill: white;
}
.settings-identifier-field {
    -fx-background-color: #1D1C1F;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #2C2A2F;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-padding: 5 5 5 13;
    -fx-prompt-text-fill: #6E687A;
}
.settings-identifier-field:focused {
    -fx-border-color: #672DF0;
}
.settings-identifier-field-error {
    -fx-background-color: #1D1C1F;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #F04343;
    -fx-text-fill: white;
    -fx-font-size: 12;
    -fx-padding: 5 5 5 13;
    -fx-prompt-text-fill: #6E687A;
}
.settings-save-button {
    -fx-background-image: url("../elements/saveButtonDefault.png");
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
}
.settings-save-button:pressed {
    -fx-background-image: url("../elements/saveButtonFocused.png");
}
.settings-cancel-button {
    -fx-background-image: url("../elements/cancelButtonDefault.png");
    -fx-background-color: transparent;
}
.settings-cancel-button:hover {
    -fx-background-image: url("../elements/cancelButtonHovered.png");
}
.settings-cancel-button:pressed {
    -fx-background-image: url("../elements/cancelButtonFocused.png");
}
.settings-error-label {
    -fx-font-size: 11;
    -fx-text-fill: #F04343;
}
.settings-avatar-buttons-background {
    -fx-background-color: #1D1C20;
    -fx-background-radius: 4;
}
.settings-avatar-button {
    -fx-background-color: #1D1C20;
    -fx-background-radius: 3;
}
.settings-avatar-button:hover {
    -fx-background-color: #242326;
}
.settings-avatar-button:pressed {
    -fx-background-color: #323036;
}

.settings-avatar-button-change-symbol {
    -fx-background-image: url("../elements/settingsChange.png");
    -fx-background-repeat: no-repeat;
}
.settings-avatar-button-change-text {
    -fx-font-size: 9;
    -fx-text-fill: white;
}
.settings-avatar-button-delete-symbol {
    -fx-background-image: url("../elements/settingsDelete.png");
    -fx-background-repeat: no-repeat;
}
.settings-avatar-button-delete-text {
    -fx-font-size: 9;
    -fx-text-fill: white;
}
.exit-button {
    -fx-background-image: url("../elements/exitDefault.png");
    -fx-background-color: transparent;
}
.exit-button:hover {
    -fx-background-image: url("../elements/exitFocused.png");
}