/*-----------------------------------------------------*/
/* Main Window ( root ) */
.root {
    -fx-background-color: #161518;
}
.left-background {
    -fx-background-color: #1D1C20;
}
/*-----------------------------------------------------*/
/* Title */
.main-title {
    -fx-font-size: 37;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.small-title {
    -fx-font-size: 21;
    -fx-text-fill: #CCCCCC;
    -fx-alignment: center;
}
.login-title {
    -fx-background-image: url("../elements/mainTitle.png");
    -fx-background-repeat: no-repeat;
}
/*-----------------------------------------------------*/
/* Default Avatar */
.avatar-button-default {
    -fx-background-image: url("../elements/defaultMainWindowAvatar.png");
    -fx-background-radius: 35;
}
/*-----------------------------------------------------*/
/* Name, Email */
.name-label {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.email-label {
    -fx-font-size: 14;
    -fx-text-fill: #868686;
}
.email-label:hover {
    -fx-text-fill: #B5B5B5;
}
.email-label:pressed {
    -fx-text-fill: #E4E4E4;
}
/*-----------------------------------------------------*/
/* Settings */
.settings-label {
    -fx-background-image: url("../elements/defaultMainWindowSettings.png");
}
.settings-label:hover {
    -fx-background-image: url("../elements/hoveredMainWindowSettings.png");
}
.settings-label:pressed {
    -fx-background-image: url("../elements/pressedMainWindowSettings.png");
}
/*-----------------------------------------------------*/
/* "Chats" title */
.chats-title-label {
    -fx-font-size: 21;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
/*-----------------------------------------------------*/
/* Search Field */
.search-field {
    -fx-background-image: url("../elements/defaultMainWindowSearchField.png");
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #B0B0B0;
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-padding: 0 30 0 13;
}
.search-field:focused {
    -fx-background-image: url("../elements/focusedMainWindowSearchField.png");
}
/*-----------------------------------------------------*/
/* "Copied!" toast notification */
.copied-label {
    -fx-background-image: url("../elements/copiedMessage.png");
    -fx-background-repeat: no-repeat;
}
/*-----------------------------------------------------*/
/* Add Contact Button */
.add-contact {
    -fx-background-image: url("../elements/defaultMainWindowAddContact.png");
    -fx-background-color: transparent;
}
.add-contact:hover {
    -fx-background-image: url("../elements/hoveredMainWindowAddContact.png");
}
.add-contact:pressed {
    -fx-background-image: url("../elements/pressedMainWindowAddContact.png");
}
/*-----------------------------------------------------------------------------*/
/* Scroll pane style of contacts list */
.scroll-pane-contacts {
    -fx-background-color: transparent;
}
.scroll-pane-contacts .viewport{
    -fx-background-color: transparent;
}
.scroll-pane-contacts .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
}
.scroll-pane-contacts .scroll-bar .thumb {
    -fx-background-color: #55535C;
}
.scroll-pane-contacts .scroll-bar .increment-button,
.scroll-pane-contacts .scroll-bar .decrement-button {
    -fx-opacity: 0;
}
/*-----------------------------------------------------------------------------*/
/* Picture Sending Window */
.picture-sending-window-background {
    -fx-background-color: #1D1C20;
    -fx-background-radius: 14;
}
.picture-sending-window-title {
    -fx-font-size: 22;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.picture-sending-window-textfield {
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #8A8893;
    -fx-background-color: #2C2B30;
    -fx-background-radius: 10;
    -fx-padding: 0 5 0 16;
}
.picture-sending-window-send-button {
    -fx-background-image: url("../elements/sendPictureButtonDefault.png");
    -fx-background-repeat: no-repeat;
}
.picture-sending-window-send-button:hover {
    -fx-background-image: url("../elements/sendPictureButtonHovered.png");
    -fx-background-repeat: no-repeat;
}
.picture-sending-window-send-button:pressed {
    -fx-background-image: url("../elements/sendPictureButtonPressed.png");
    -fx-background-repeat: no-repeat;
}
.picture-sending-window-exit-button {
    -fx-background-image: url("../elements/sendingPictureExitButtonDefault.png");
    -fx-background-repeat: no-repeat;
}
.picture-sending-window-exit-button:hover {
    -fx-background-image: url("../elements/sendingPictureExitButtonHovered.png");
    -fx-background-repeat: no-repeat;
}
.picture-sending-window-picture {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: blue;
}
.picture-sending-window-picture-change-button {
    -fx-background-image: url("../elements/changePictureButtonDefault.png");
    -fx-background-repeat: no-repeat;
}
.picture-sending-window-picture-change-button:hover {
    -fx-background-image: url("../elements/changePictureButtonHovered.png");
    -fx-background-repeat: no-repeat;
}
.picture-sending-window-picture-change-button:pressed {
    -fx-background-image: url("../elements/changePictureButtonPressed.png");
    -fx-background-repeat: no-repeat;
}


