/*-----------------------------------------------------------------------------*/
/* background */
.contact-background-pane {
    -fx-background-color: #1D1C20;
    -fx-background-radius: 8;
}
.contact-background-pane:hover {
    -fx-background-color: #262529;
}
.contact-background-pane:pressed {
    -fx-background-color: #3A3941;
}
.contact-background-pane-focused {
    -fx-background-color: #3A3941;
    -fx-background-radius: 8;
}
/*-----------------------------------------------------------------------------*/
/* avatar */
.contact-avatar-label {
    -fx-background-image: url("../elements/mainContactAvatar.png");
}
/*-----------------------------------------------------------------------------*/
/* name */
.contact-name-label {
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
/*-----------------------------------------------------------------------------*/
/* last message */
.contact-last-message-label {
    -fx-font-size: 14;
    -fx-text-fill: #8A8A8A;
}
/*-----------------------------------------------------------------------------*/
/* time */
.contact-time-label {
    -fx-font-size: 12;
    -fx-text-fill: #8A8A8A;
}
/*-----------------------------------------------------------------------------*/