.root {
    -fx-background-color: #161518;
}
.chat-message-text-field {
    -fx-background-color: #1D1C20;
    -fx-border-color: #1D1C20;
    -fx-font-size: 13;
    -fx-prompt-text-fill: #5A5959;
    -fx-text-fill: white;
    -fx-padding: 0 55 5 53;
}

.chat-add-photo-label {
    -fx-background-image: url("../elements/paperClipDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-add-photo-label:hover {
    -fx-background-image: url("../elements/paperClipFocused.png");

}
.chat-send-label {
    -fx-background-image: url("../elements/sendDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-send-label:hover {
    -fx-background-image: url("../elements/sendFocused.png");
}
.chat-upper-background {
    -fx-background-color: #1D1C20;
}
.chat-avatar-label {
    -fx-background-image: url("../elements/avatarDialogDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-name-label {
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.chat-date-label {
    -fx-background-color: #2F2C39;
    -fx-background-radius: 7;
    -fx-text-fill: white;
    -fx-font-size: 11;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.chat-dialog-vbox {
    -fx-background-color: #161518;
    -fx-padding: 50 20 20 20;
}

.chat-add-picture-label {
    -fx-background-image: url("../elements/chatAddPictureDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-add-picture-label:hover {
    -fx-background-image: url("../elements/chatAddPictureFocused.png");
    -fx-background-repeat: no-repeat;
}

.chat-send-label {
    -fx-background-image: url("../elements/chatSendDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-send-label:hover {
    -fx-background-image: url("../elements/chatSendFocused.png");
    -fx-background-repeat: no-repeat;
}

.chat-message-lupe {
    -fx-background-image: url("../elements/chatSearchLupeDefault.png");
    -fx-background-repeat: no-repeat;
}
.chat-message-lupe:hover {
    -fx-background-image: url("../elements/chatSearchLupeFocused.png");
    -fx-background-repeat: no-repeat;
}
/*-----------------------------------------------------------------------------*/
/* Scroll pane style of contacts list */
.chat-scroll-pane {
    -fx-background-color: transparent;
}
.chat-scroll-pane .viewport{
    -fx-background-color: transparent;
}
.chat-scroll-pane .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
}
.chat-scroll-pane .scroll-bar .thumb {
    -fx-background-color: #3E3C44;
}
.chat-scroll-pane .scroll-bar .increment-button,
.chat-scroll-pane .scroll-bar .decrement-button {
    -fx-opacity: 0;
}
/*-----------------------------------------------------------------------------*/
/* Message */
.chat-message-pane {
    -fx-background-color: #2C2B30;
    -fx-background-radius: 7;
}
.chat-message-label {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-padding: 6 45 4 12;
}
.chat-time-label {
    -fx-font-size: 9;
    -fx-text-fill: #85818F;
}
.chat-scroll-down-background {
    -fx-background-color: #1D1C20;
    -fx-background-radius: 7;
}



